@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Delius';
    src: url(/assets/fonts/DeliusSwashCaps-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url(/assets/fonts/Raleway-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url(/assets/fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url(/assets/fonts/Raleway-Light.ttf) format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Raleway';
    src: url(/assets/fonts/Raleway-SemiBold.ttf) format('truetype');
    font-weight: 500;
}

main,
header,
footer {
    background-color: #ffedf5;
}

/*
    Enter and leave animations can use different
    durations and timing functions.
  */
.slide-fade-enter-active {
    transition: all 0.6s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0.5;
}